<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Route ALL requests through HttpPlatformHandler -->
    <handlers>
      <add name="httpPlatformHandler"
           path="*"
           verb="*"
           modules="httpPlatformHandler"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

    <!-- This starts Node and runs `next start` -->
    <httpPlatform 
        stdoutLogEnabled="false"
        stdoutLogFile=".\node.log"
        startupTimeLimit="20"
        processPath="C:\Program Files\nodejs\node.exe"
        arguments=".\node_modules\next\dist\bin\next start">

      <environmentVariables>
        <!-- IIS gives us HTTP_PLATFORM_PORT; we pass it to Next as PORT -->
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="Production" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
